/* header css */
// modal
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}
.modalDialog-title {
    margin-top: 25px;
    color: #232327;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
}
.modalDialog-title::after{
    content: "";
    display: table;
    width: 45%;
    border-bottom: 4px solid #00bcd4;
    margin: 10px auto;
}
.modalDialog-form {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    font-family: 'Ubuntu Mono', monospace;
    color: #000;
    font-weight: 700;
}
.modalDialog-form-row-name {
    margin-left: 120px;
}
.modalDialog-form-row-tel {
    margin-left: 100px;
}
.modalDialog-form-row-email {
    margin: 20px 0 0px 105px;
}
.modalDialog-form-row {
    margin: 15px auto;
}
.modalDialog-form > input {
    margin: 10px 0;
    border: none;
}
input[type=text] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    width: 250px;
    margin: 20px 0 0 0;
}

input[type=tel] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    width: 210px;
    margin: 20px 0 0 32px;
}
input[type=email] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    width: 210px;
    margin: 20px 0 0px 32px;
}
.modalDialog-form-check {
    width: 230px;
    text-align: center;
    margin: 10px auto 0 auto;
}
.modalDialog-form-check > label {
    font-weight: 400;
}
input[type=checkbox] {
    margin-right: 20px;
}
.modalDialog-form-check-bu {
    border-bottom: 1px solid #00bcd4;
    font-weight: 700;   
}
.modalDialog:target {
    display: block;
    pointer-events: auto;
}
.modalDialog-form > .link_begin {
    margin-top: 22px;
    border: none;
    width: 250px;
}
.modalDialog > div {
    width: 290px;
    height: 540px;
    position: relative;
    margin: 30px auto;
    padding: 5px 20px 13px 20px;
    background: #fff;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover { 
    background: #00d9ff; 
}
// modal
.wrapper_fluid {
    min-width: 320px;
    margin: 0 auto;
    height: 515px;
    background-color: #282828;
}
.header {
    position: relative;
}
.header-logo {
    text-align: left;
    padding: 32px 0 0 14px;
}
.header-text,
.flex-wrap,
.hub-pic,
.header-logo-text-small,
.header-logo-text-grand,
.bg-blue,
.header-section-button,
.wrap_header-section_start-desktop,
.bg-texture-right {
    display: none;
}
.header-article {
    margin: 0 auto;
    padding-top: 35px;
    text-align: center;
}
.header-article-text_bold {
    font-family: $extra-font;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.header-article-text_bold::after{
    content: "после обучения на курсе:";
    display: table;
    font-family: $primary-font;
    font-size: 16px;
    color: #c4c4c4;
    text-transform: lowercase;
    font-weight: 400;
    margin: 0 auto;
}
.header-article-title {
    color: #fff;
    font-family: $primary-font;
    font-size: 30px;
    text-transform: uppercase;
} 
.header-article-title-blue {
    color: #00bcd4;
}
.header-article-title::before {
    content: "";
    display: table;
    margin: 0 auto;
    padding-top: 10px;
    width: 50%;
    border-top: 2px solid #00bcd4;
}
.header-article-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
.header-article-list-item:not(:last-child) {
    margin-bottom: 10px;
}
.header-article-list-item {
    margin: 0 auto;
    width: 290px;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.header-article-list-item-blue {
    color: #00bcd4;
}
.header-article-list-item-light {
    font-weight: 400;
}
.header-section {
    position: absolute;
    top: 10px;
    right: 10px;
}
.header-section-list {
    list-style: none;
    margin-top: 20px;
}
.header-section-list-title {
    display: none;
}
.header-section-list_contacts-tel {
    margin-bottom: 10px;
    margin-left: 50px;
    color: #00bcd4;
    font-family: $extra-font;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
.header-section-list_contacts-tel::after {
    content: "";
    display: table;
    width: 88%;
    border: 1px solid #00bcd4;
}
.header-section-list_contacts-age {
    margin-left: 50px;
    color: #fff;
    font-family: $primary-font;
    font-size: 13px;
}
.header-section-list_contacts-age-bold {
    font-weight: 700;
}
.wrap_header-section_start {
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
}
.header-section_start {
    margin: 40px auto 0 auto;
    padding: 5px 10px;
    font-family: $primary-font;
    text-align: center;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid #00bcd4;
} 
.header-section_start-blue {
    color: #00bcd4;
}
/* header css end  */
/* header part 768px*/

@media (min-width:768px){    
    .wrapper_fluid {
        min-width: 768px;
        height: 660px;
        background: url('../img/bg-header-tablet.png');
    }
    .header-logo-text-grand {
        display: block;
        position: absolute;
        top: 19px;
        left: 140px;
        width: 130px;
        margin-top: 11px;
        color: #fff;
        font-family: $primary-font;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 17px;
    }
    .wrap_header-section_start {
        position: absolute;
        top: -8px;
        left: 44%;
    }
    .header-article-title::before {
        content: "";
        display: table;
        margin: 0 auto;
        padding-top: 30px;
        width: 80%;
        border-top: 5px solid #00bcd4;
    }
    .header-article-title::after {
        content: "";
        display: table;
        margin: 18px auto;
        width: 10%;
        border-top: 1px solid #00bcd4;  
    }
    .header-section-title,
    .header-section-list,{
        display: block;
    }
    .flex-wrap_header-section-title,
    .flex-wrap_header-section-list,
    .flex-wrap_header-section-list_qualities {
        color: #fff;    
    }
    .flex-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-content: center;
        margin: 0 auto;
        padding-top: 63px;
        width: 62%;
    }

    .header-article-list {
        margin-bottom: 40px;
    }
    
    .header-article-list-item {
        width: 100%;
        font-size: 18px;
    }
    .header-article-list-item-blue{
        font-size: 24px;
    }

    .flex-wrap_header-section-title {
        margin-top: 14px;
        padding: 0;
        width: 167px;
        font-family: $primary-font;
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
        line-height: 22px;
        border-right: 1px solid #fff;
        padding-right: 50px;
    }
    .flex-wrap_header-section-list {
        display: flex;
        list-style: none;
    }
    
    .flex-wrap_header-section-list :not(:last-child){
        margin: 15px 50px 0 45px;
    }
    .flex-wrap_header-section-list_qualities {
        width: 130px;
        font-family: $extra-font;
        margin: auto;   
    }
    .flex-wrap_header-section-list_qualities::before {
        content: "<_";
        display: inline;
        color: #00bcd4;
        margin-left: -15px;
    }
}
    /* header part 768px end*/
    @media (min-width:1151px){
        .wrapper_fluid {
            min-width: 1151px;
            height: 840px;
            background-color: #26262b;
            background-position: 60px -200px;
            background-repeat: no-repeat;
        }
        .header {
            width: 1151px;
            margin: 0 auto;
        }
        .header-logo-text-grand {
            font-size: 15px;
            font-weight: 600;
            width: 180px;
        }
        .header-logo-text-small {
            font-size: 15px;
            font-weight: 600;
            opacity: 0.8;
            display: block;
            font-family: $extra-font;
            font-size: 14px;
            font-weight: 500;
            color: #fff;
            padding-left: 125px;
            margin-top: 15px;
        }
        .header-text {
            display: block;
            position: absolute;
            top: 510px;
            left: -520px;
            transform: rotate(90deg);
            color: #fff;
            font-family: $primary-font;
            font-size: 14px;
        }
        .header-text_blue {
            font-size: 18px;
            color: #00bcd4;
        }
        .header-text_blue::before {
            content: "";
            display: table;
            width: 120px;
            border: 1px solid #00bcd4;
            position: absolute;
            top: 9px;
            left: -128px;
        }
        .header-article {
            margin-left: -100px;
            padding-top: 175px;
        }
        .header-article-text_bold {
            width: 400px;
            font-size: 26px;
            font-weight: 500;
            text-align: right;
            margin-left: 220px;
        }
        .header-article-text_bold::after {
            margin-top: 12px;
            width: 400px;
            text-align: right;
            font-size: 20px;
        }
        .header-article-title {
            text-align: left;
            font-size: 64px;
            text-align: right;
            width: 550px;
            margin-left: 70px;
            margin-bottom: 90px;
        }
        .header-article-title::after {
            display: none;
        }
        .header-article-title::before {
            margin-left: 25px;
            width: 630px;
            content: "";
            display: table;
            border-top: 5px solid #00bcd4;
        }
        .header-article-list {
            width: 650px;
            text-align: justify;
            margin-left: 0px;
        }
        .header-section {
            width: 550px;
            height: 900px;
            background-color: #242427;
            right: -56px;
            top: 0;
        }
        .header-article-list-item {
            widows: 520px;
            text-align: right;
            padding-top: 0px;
            font-size: 16px;
        }
        .header-article-list-item:first-child::before {
            content: "";
            position: absolute;
            left: -175px;
            bottom: 35px;
            width: 13%;
            border-top: 2px solid #00bcd4;
            padding-top: 4px;
            margin-right: 10px;
        }
        .hub-pic {
            position: absolute;
            top: 70px;
            right: -280px;
            display: block;
            width: 430px;
            height: 780px;
            background-image: url(../img/hud.png);
            background-repeat: no-repeat;
            background-size: 87%;
        }
        .header-section_start-desktop {
            position: absolute;
            top: 125px;
            left: -30px;
            transform: rotate(90deg);
            z-index: 1;
            border: none;
            font-family: $primary-font;
            text-align: center;
            color: #fff;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .header-section_start-desktop::before {
            content: "";
            display: table;
            width: 125%;
            border-top: 1px solid #00bcd4;
            padding-top: 4px;
            position: absolute;
            top: -8px;
            left: -55px;
        }
        .header-section-list {
            position: absolute;
            top: 40px;
            left: 250px;
        }
        .header-section-list-title {
            display: block;
            position: absolute;
            top: -60px;
            left: 4px;
            width: 240px;
            height: 35px;
            line-height: 35px;
            background-color: #fff;
            border: 1px solid transparent;
            cursor: pointer;
            color: #000;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 700;
            font-family: $primary-font;
            text-align: center;
            text-decoration: none;
        }
        .header-section-list-title:hover {
            background-color: #000;
            border: 1px solid #fff;
            color: #fff;
        }
        .header-section-list {
            width: 300px;
        }
        .header-section-list_contacts-age {
            font-size: 16px;
        }
        .header-section-list_contacts-tel {
            font-size: 20px;
        }
        .header-section-list_contacts-tel::after {
            content: "";
            display: table;
            width: 130%;
            border-bottom: 1px solid #00bcd4;
        }
        .header-section_start {
            position: absolute;
            top: 61px;
            left: 418px;
            transform: rotate(90deg);
            z-index: 1;
            width: 135px;
            border: none;
        }
        .header-section_start::before {
            content: "";
            display: table;
            width: 130px;
            border-top: 1px solid #00bcd4;
            padding-top: 5px;
            margin-left: -58px;
        }
        .flex-wrap {
            position: absolute;
            top: 300px;
            right: 175px;
            flex-direction: column;
            width: 290px;
        }
        .flex-wrap_header-section-title {
            font-size: 22px;
            width: 240px;
            font-weight: 500;
            text-align: left;
            line-height: 1.4;
            border-right: none; 
            border-bottom: 1px solid #fff;
            padding-bottom: 10px;
        }
        .flex-wrap_header-section-list {
            display: block;
            padding: 0;
            margin-top: 15px;
           
        }
        .flex-wrap_header-section-list_qualities {
            font-size: 20px;
            margin: 0 0 20px 0; 
            width: 180px;
            font-weight: 500;
            line-height: 1.5;
            opacity: 0.8
        }
        .header-section-button {
            display: block;
            position: absolute;
            bottom: 41px;
            left: 65px;
            width: 260px;
            height: 50px;
            padding: 10px 10px;
            border: none;
            background-color: #00bcd4;
            color: #242427;
            font-family: $primary-font;
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 700;
        }
        .header-section-button::before {
            content: "";
            display: table;
            position: absolute;
            bottom: 25px;
            right: -15px;
            width: 35px;
            height: 35px;
            border-top: 1.5px solid #fff;
            border-right: 1.5px solid #fff;
        }
        .header-section-button::after {
            content: "";
            display: table;
            position: absolute;
            top: 25px;
            left: -15px;
            width: 35px;
            height: 35px;
            border-bottom: 1.5px solid #fff;
            border-left: 1.5px solid #fff;
        }
        .header-section-button:hover {
            background-color: #67edff;
            cursor: pointer;
            transition: all 1s;
        }
        .header-section-button:hover::before {
            width: 65px;
            transition: all 1s;
        }
        .header-section-button:hover::after {
            width: 65px;
            transition: all 1s;
        }
	    .header-section-button {
           outline: none;
	 }
        .flex-wrap_header-section-list :not(:last-child){
	    margin: 15px 50px 25px 0px;
	}
    }
        /* header section 1151px end */
