
.perenos {
	display: block;
}
.wrapper_fluid-dark {
	background-image: url(../img/wrapper-darken-bg.png);
}
.wrapper_fluid-dark__container1920__img1,
.wrapper_fluid-dark__container1920__img2 {
	position: absolute;
	display: none;
} 
.wrapper_dark-section__title {
	text-align: center;
    font-size: 25px;
    font-family: $primary-font;
    color: #00bcd4;
	margin-bottom: 30px;

}
.wrapper_dark-section__title--after::after {
	content: '';
	display: block;
	margin: auto;
	border-bottom: 2px solid #fff;
	width: 150px;
	margin-top: 15px;
}
.eto {
	color: #fff;
}
.bg-img {
	position: relative;
	width: 100%;
	height: 260px;
	background-color: #1c1c1e;
	margin-bottom: 60px;
	box-shadow: 0px 40px 81px 0px rgba(0,0,0,0.39);
}
.bg-img__img {
	position: absolute;
	top: 20px;
	display: block;
	margin: auto;
	position: relative;
	width: 260px;
	height: 270px;
}
.menu__list {
	width: 70px;
    font-family: $extra-font;
	position: absolute;
	color: #fff;
}
.menu__list-title {
	font-size: 14px;
	line-height: 1.2;
	margin-bottom: 3px;
}
.menu__list-subtitle {
	width: 70px;
    font-size: 10px;
}
.menu__list-agile {
	top: 175px;
	left: 60px;
	right: 170px;
}
.menu__list-skills {
	color: #000;
	bottom: 177px;
	left: 160px;
}
.menu__list-english {
	top: 140px;
	left: 180px;
}
.list-title {
	color: #fff;
}
.soft-skills__article {
	height: 530px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 50px;
}
.submenu__list {
	line-height: 1.6;
	color: #fff;
}
.soft-skills__list-title {
    font-size: 28px;
    font-family: $extra-font;
    color: rgb(255, 255, 255);
    font-weight: 500;	
    margin-bottom: 15px;
}
.submenu__list {
    font-size: 14px;
    font-family: $extra-font;
    color: rgb(255, 255, 255);
    font-weight: 500;
    line-height: 1.7;
}
.btn-start__link {
   margin: 0 auto;
    display: block;
    text-align: center;
    font-family: $primary-font;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    width: 290px;
    height: 55px;
    background-image: linear-gradient(to right, #ffb41b, #fb193c);
    text-decoration: none;
    line-height: 55px;
    border-radius: 5px;
    box-shadow: 0px 8px 19px 0px rgba(0,0,0,0.29); 
    margin-bottom: 40px;
}
.btn-start__link:hover {
    box-shadow: 0px 8px 19px 0px rgba(0,0,0,0.60);
    transition-duration: 0.2s
}
.list-description__line-skills {
	display: none;
}
.list-description__line-agile {
	display: none;
}
.list-description__line-english {
	display: none;
}
.list-description__line-agile-desctop {
	display: none;
	position: absolute;
}
.list-description__line-english-desctop {
	display: none;
	position: absolute;
}
.list-description__line-skills-desctop {
	display: none;
	position: absolute;
}
@media(min-width: 768px) {
	.perenos {
		display: none;
	}
	.wrapper_dark-section__title--after::after {
		width: 270px;
	}
	.wrapper_dark-section__title {
		padding-top: 80px;
    	font-size: 30px;
		margin-bottom: 60px;
	}	
	.wrapper_dark-section__title--after::after {
		width: 350px;
	}
	.bg-img {
		width: 530px;
		height: 700px;
		margin-bottom: 230px;
	}
	.bg-img__img {
		margin: auto;
		width: 580px;
		height: 600px;
		margin-left: 55px;
		top: 60px;
	} 
	.menu__list {
		width: 140px;
	}
	.menu__list-title {
		 font-size: 30px;
		 line-height: 1.2;	
		 margin-bottom: 5px;
	}
	.menu__list-subtitle {
		width: 140px;
  		font-size: 18px;	
	}
	.menu__list-agile {
		top: 420px;
		left: 170px;
	}
	.menu__list-skills {
		bottom: 510px;
		left: 380px;
	}
	.menu__list-english {
		top: 360px;
		left: 420px;
	}
	.soft-skills__article {
		position: absolute;
		display: none;
	}
	.menu__list-description {
		left: 500px;
		top: 300px;
	}
	.menu__list-description {
		position: absolute;
		color: #fff;
		width: 530px;
		display: none;
	}
	.list-description__title {
		font-weight: 500;
		font-size: 30px;
  		font-family: $extra-font;
  		margin-bottom: 20px;
	}
	.list-description__text {
		font-size: 16px;
 	    font-family: $extra-font;
  		line-height: 1.7;
	}
	.menu__list-description-agile {
		top: 325px;
		left: -60px;
	}
	.menu__list-description-skills {
		top: 647px;
		left: -273px;
	}
	.menu__list-description-english {
		top: 385px;
		left: -315px;
	}
	.menu__list-agile--hover:hover > .menu__list-description-agile {
		display: block;
	} 
	.menu__list-english--hover:hover > .menu__list-description-english {
		display: block;
	} 
	.menu__list-skills--hover:hover > .menu__list-description-skills {
		display: block;
	} 

	.list-description__line-english {
		position: absolute;
		right: 10px;
		top: 115px;
	}
	
	.list-description__line-skills-1 {
		position: absolute;
		top: 652px;
		left: 35px;
	}
	.list-description__line-skills-2 {
		position: absolute;
		left: 282px;
		top: 20px;
	}
	.list-description__line-skills-3 {
		position: absolute;
		left: 162px;
		top: 20px;
		width: 120px;
	}

	.list-description__line-agile-1 {
		position: absolute;
		top: 130px;
		left: -90px;
	} 
	.list-description__line-agile-2 {
		position: absolute;
		top: 230px;
		left: -98px;
		height: 210px;
	}
	.menu__list-skills--hover:hover > .list-description__line-skills {
		display: block;
	}
	.menu__list-english--hover:hover > .list-description__line-english {
		display: block;
	}
	.menu__list-agile--hover:hover > .list-description__line-agile {
		display: block;
	}
}
@media(min-width: 1151px) {
	.wrapper_fluid-dark {
		position: relative;
	}
	.wrapper_fluid-dark__container1920 {
		margin: auto;
	}
	.wrapper_fluid-dark__container1920--after:after {
		content: url(../img/noi1.png);
		position: absolute;
		bottom: 150px;
		right: 0px;
		z-index: 0;
	}
	.wrapper_fluid-dark__container1920--before:before {
		content: url(../img/noi2.png);
		position: absolute;
		top: 150px;
		left: 0px;
	}
	.wrapper_dark-section__article {
		margin: auto;
	}
	/*.wrapper_fluid-dark__container1920__img2 {
		display: block;
		bottom: 150px;
		right: 10px;
	}
	.wrapper_fluid-dark__container1920__img1 {
		display: block;
		top: 150px;
	}*/
	.wrapper_dark-section {
		position: relative;
		height: 980px;
	}
	.bg-img {
		margin-top: 100px;
		height: 720px;
		margin-bottom: 100px;
	}
	.bg-img__img {
		top: 20px;
		width: 590px;
		height: 610px; 
	}
	.wrapper_dark-section__title {
		padding-top: 0;
		position: absolute;
		top: 220px;
		right: 60px;
		font-size: 38px;
		margin-bottom: 0;
	}
	.wrapper_dark-section__title--after::after {
		width: 390px;
	}
	.menu__list-skills--hover:hover > .list-description__line-skills {
		display: none;
	}
	.menu__list-english--hover:hover > .list-description__line-english {
		display: none;
	}
	.menu__list-agile--hover:hover > .list-description__line-agile {
		display: none;
	}
	.list-description__title {
  		font-size: 36px;
	}
	.list-description__text {
		width: 350px;
  		font-size: 18px;	
	}
	.menu__list-agile {
		top: 380px;
		left: 170px;
	}
	.menu__list-skills {
		bottom: 560px;
		left: 390px;
	}
	.menu__list-english {
		top: 310px;
		left: 430px;
	}

	.menu__list-description-agile {
		top: -125px;
		left: 535px;
	}
	.menu__list-description-skills {
		top: 195px;
		left: 325px;
	}
	.menu__list-description-english {
		top: -55px;
		left: 275px;
	}
	.list-description__line-agile-desctop {
		top: 120px;
		left: 270px;
	}
	.list-description__line-english-desctop {
		top: 156px;
		left: 160px;
	}
	.list-description__line-skills-desctop {
		top: 15px;
		left: 150px;
	}
	.menu__list-skills--hover:hover > .list-description__line-skills-desctop {
		display: block;
	}
	.menu__list-english--hover:hover > .list-description__line-english-desctop  {
		display: block;
	}
	.menu__list-agile--hover:hover > .list-description__line-agile-desctop {
		display: block;
	}
	.btn-start__link {
		font-size: 18px;
		font-weight: 800;
		position: absolute;
		bottom: 150px;
		right: 130px;
		width: 320px;
    	height: 70px;
    	line-height: 70px;
    	z-index: 1;
	}

	
}