.wrap-it-dev_bg-grey,
.wrap-it-dev-cv_right-sing-text,
.wrap-it-dev_bg-blue-top,
.wrap-it-dev_bg-blue-bottom,
.wrap-it-dev-cv-bg-dotted_section-top,
.wrap-it-dev_bg-blue-bottom,
.wrap-it-dev-cv-bg-dotted_section-right,
.wrap-it-dev-cv-bg-dotted_section-bottom,
.wrap-it-dev_bg-grey-right,
.wrap-it-dev_bg-blue-white {
    display: none;
}

.wrap-it-dev {
    min-width: 320px;
    margin: 0 auto;
}
.wrap-it-dev_light-bg {
    height: 1730px;
    background: url(../img/light-bg.png);
    text-align: center;
}
.wrap-it-dev-cv {
    width: 290px;
    margin: 0 auto;
}
.wrap-it-dev-title {
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}
.wrap-it-dev-text {
    padding: 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #242427;
    font-size: 14px;
    text-transform: uppercase;
}
.wrap-it-dev-cv_left {
    background: #fff;
    width: 290px;
}
.wrap-it-dev-cv_left-top {
    width: 290px;
    height: 89px;
    margin: 0 auto;
}
.wrap-it-dev-cv_left-top::after {
    content: "";
    display: table;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
.wrap-it-dev-cv_left-top-img {
    float: left;
}
.wrap-it-dev-text-underline {
    border-bottom: transparent;
}
.wrap-it-dev-cv_left-top-title {
    padding: 15px 0 0 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #242427;
    text-align: left;
}
.wrap-it-dev-cv_left-top-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #242427;
    text-align: left; 
    padding-left: 100px;
}
.wrap-it-dev-cv_left-main {
    padding: 0 10px;
}
.wrap-it-dev-cv_left-main-title {
    margin-left: 30px;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    color: #242427;
    text-align: left;
    padding: 30px 0;
}
.wrap-it-dev-cv_left-main-title::after {
    content: "";
    display: table;
    width: 35%;
    padding-bottom: 5px;
    border-bottom: 2px solid #000;
}
.wrap-it-dev-cv_left-tech {
    list-style: none;
    text-align: left;
    margin-left: 30px;
}
.wrap-it-dev-cv_left-tech-item {
    position: relative;
    padding-bottom: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #242427;
    line-height: 20px;
    font-weight: 900;
    margin-left: -15px;
}
.wrap-it-dev-cv_left-tech-item::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #00bcd4;
    border-radius: 30px;
    top: 3px;
    left: -20px;
}
.wrap-it-dev-cv_left-tech-item-dark {
    color: #00bcd4;
    background: #242427;
    padding: 3px;
}
.wrap-it-dev-cv_left-soft {
    list-style: none;
    text-align: left;
    margin-left: 30px;
}
.wrap-it-dev-cv_left-soft-item {
    position: relative;
    padding-bottom: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #242427;
    line-height: 20px;
    padding-left: 12px;
    font-weight: 900;
}
.wrap-it-dev-cv_left-soft-item::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #00bcd4;
    border-radius: 30px;
    top: 3px;
    left: -20px;
}
.wrap-it-dev-cv_left-cv {
    list-style: none;
    text-align: left;
    margin-left: 30px;
}
.wrap-it-dev-cv_left-cv-item {
    position: relative;
    padding-bottom: 14px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #242427;
    line-height: 20px;
    padding-left: 4px;
    font-weight: 900;
}
.wrap-it-dev-cv_left-cv-item::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #00bcd4;
    border-radius: 30px;
    top: 3px;
    left: -20px;
}
.wrap-it-dev-cv_right {
    width: 290px;
    background: #efefef;
}
.wrap-it-dev-cv_right-sing {
    width: 290px;
}
.wrap-it-dev-cv_right-sing-title {
    padding-top: 30px;
    color: #232327;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}
.wrap-it-dev-cv_right-form {
    padding-bottom: 15px;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    font-family: 'Ubuntu Mono', monospace;
    color: #000;
    font-weight: 700;
}
.wrap-it-dev-cv_right-form-row {
    margin: 15px auto; 
}
.wrap-it-dev-cv_right-form-check {
    margin: 20px auto;
    width: 217px;
    text-align: center;
}
.wrap-it-dev-cv_right-form-check-bu {
    border-bottom: 1px solid #00bcd4;
    font-weight: 700; 
}
.wrap-it-dev-cv_right-form-row >input[type=text], input[type=tel], input[type=email] {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    width: 252px;
    margin: 0;
    background: transparent;
}
.wrap-it-dev-cv_right-form-row >input[type=text], input[type=tel], input[type=email]:focus {
    outline: none;
}
.wrap-it-dev-cv_right-form-check > input[type=checkbox] {
    margin-right: 10px;
}
.wrap-it-dev-cv_right-form > .link_begin {
    width: 270px;
    margin-top: 5px;
    border: none;
}
@media (min-width:768px){
    .wrap-it-dev {
        min-width:768px;
        height: 1330px;
        position: relative; 
    }
    .wrap-it-dev-title {
        width: 577px;
        margin: 0 auto;
        font-size: 42px;
    }
    .wrap-it-dev_bg-grey {
        display: block;
        position: absolute;
        top: 50px;
        width: 100%;
        height: 1300px;
        background: url(../img/light-bg.png);
        -webkit-clip-path: polygon(0 0, 100% 22%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 22%, 100% 100%, 0% 100%);
        z-index: -1;
    }
    .wrap-it-dev-text {
        margin: 0 auto;
        width: 365px;
        padding: 30px 0;
    }
    .wrap-it-dev-text-underline {
        border-bottom: 1px solid #000;
    }
    .wrap-it-dev_light-bg {
        background: none;
        height: 1180px;
    }
    .wrap-it-dev-cv {
        width: 700px;
        display: flex;
        flex-flow: row nowrap;
    }
    .wrap-it-dev-cv_left,
    .wrap-it-dev-cv_right {
        width: 345px;
    }
    .wrap-it-dev-cv_right {
        background: url(../img/bg-dotted.png) no-repeat 46px 712px;
        background-color: #efefef;
    }
    .wrap-it-dev-cv_right-sing {
        margin: 0 auto;
    }
    .wrap-it-dev-cv_right-sing-title {
        padding-top: 220px;
    }
    .wrap-it-dev-cv_right-sing-text {
        display: block;
        color: #232327; 
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        width: 330px;
        margin: 0 auto 0 -17px;
    }
    .wrap-it-dev-cv_right-sing-text::before {
        content: "";
        display: table;
        width: 58%;
        border-top: 2px solid #00bcd4;
        padding-top: 20px;
        margin: 0 auto;
    }
    .wrap-it-dev-cv_left-tech-item,
    .wrap-it-dev-cv_left-tech-item,
    .wrap-it-dev-cv_left-cv-item {
        padding-bottom: 20px;
    }
    .wrap-it-dev-cv_right-form > .link_begin {
        margin-top: 120px;
    }
}
@media (min-width:1151px){
    .wrap-it-dev {
        min-width: 1151px;
    }
    .wrap-it-dev_bg-grey {
        -webkit-clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
    }
    .wrap-it-dev_bg-blue-top,
    .wrap-it-dev_bg-blue-bottom {
        display: block;
        position: absolute;
        background: url(../img/blue-bg.png);
    }
    .wrap-it-dev_bg-blue-top {
        width: 300px;
        height: 400px;
        top: 180px;
        left: 235px;
        z-index: -2;
    }
    .wrap-it-dev_bg-blue-bottom {
        width: 230px;
        height: 700px;
        bottom: -19px;
        right: -22px;
        z-index: -1;
    }
    .wrap-it-dev-text {
        padding: 50px 0;
    }
    .wrap-it-dev-cv-bg-dotted_section-top {
        display: block;
        position: absolute;
        top: 0px;
        right: 0;
        width: 30%;
        z-index: 1;
    }
    .wrap-it-dev-cv-bg-dotted_section-right {
        display: block;
        position: absolute;
        top: 177px;
        left: -227px;
        width: 30%;
    }
    .wrap-it-dev-cv-bg-dotted_section-bottom {
        display: block;
        position: absolute;
        bottom: 0px;
        left: -115px;
        width: 58%;
    }
    .wrap-it-dev-cv {
        width: 750px;
        position: relative;
    }
    .wrap-it-dev-cv_left,
    .wrap-it-dev-cv_right {
        width: 375px;
    }
    .wrap-it-dev-cv_right {
        background-color: #efefef;
        background-image: none;
        position: relative;
    }
    .wrap-it-dev-cv_left-top {
        width: 373px;
        height: 89px;
        margin: -18px auto auto;
    }
    .wrap-it-dev-cv_left-top::after {
        width: 100%;
    }
    .wrap-it-dev_bg-grey-right {
        display: block;
        background: url(../img/light-bg.png);
        width: 500px;
        height: 500px;
        position: absolute;
        top: 404px;
        right: 0;
        z-index: -2;
        box-shadow: 0px 10px 17px #000;
    }
    .wrap-it-dev_bg-blue-white {
        display: block;
        position: absolute;
        bottom: 208px;
        right: 70px;
        width: 100px;
        height: 400px;
        opacity: .36;
        background-color: #f3f3f3;
        box-shadow: 0 20px 51px rgba(0,0,0,.21);

    }
    .wrap-it-dev-cv_right-form > .link_begin {
        width: 290px;
        margin-top: 90px;
    }
}