* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper_white {
	width: 290px;
	margin: 0 auto;
}

.wrapper_white-section_skills-title {
	width: 230px;
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
	line-height: 30px;
	color: #242427;
	font-weight: 700;
	font-family: $primary-font;
	position: relative;
	text-transform: uppercase;
}

.wrapper_white-section_skills-title:before {
	content: "";
	display: block;
	width: 15px;
	border-bottom: 4px solid #00bcd4;
	position: absolute;
	top: 23px;
	left: 5px;
}

.wrapper_white-section_skills-title:after {
	content: "";
	display: block;
	width: 150px;
	border-bottom: 2px solid #242427;
	margin: 15px auto 35px;
}

.wrapper_white-section_skills-list {
	list-style: none;
}

.block-time {
	list-style: none;
	width: 185px;
	margin: 0 auto 60px;
}

.block-time .block-time_item:first-of-type {
	text-align: center;
	font-size: 85px;
	font-family: $extra-font;
	font-weight: bold;
	color: #00bcd4;
	position: relative;
}

.block-time_item--after:after {
	content: "";
	display: block;
	width: 170px;
	border-bottom: 2px solid #242427;
	margin: 15px auto 20px;
}

.block-time_item--before:before {
	content: "Часа";
	position: absolute;
	top: 0;
	right: 0;
	transform: rotate(90deg);
	font-size: 18px;
	line-height: 24px;
	color: #242427;
	font-family: $extra-font;
	font-weight: bold;
}

.block-time_item--befores:before {
	content: "Часов";
	position: absolute;
	top: 0;
	right: 0;
	transform: rotate(90deg);
	font-size: 18px;
	line-height: 24px;
	color: #242427;
	font-family: $extra-font;
	font-weight: bold;
}

.block-time .block-time_item:last-of-type {
	padding-left: 15px;
	padding-right: 10px;
	margin-bottom: 20px;
}

.block-time_item-text_span {
	font-size: 16px;
	line-height: 20px;
	font-family: $extra-font;
	font-weight: bold;
	display: inline-block;
	width: 170px;
	margin-left: 8px;
}




/*---------------------------------------------------------*/
.program-titles {
	list-style: none;
}

.program-titles_title {
	background-color: #eeeeee;
	list-style: none;
	padding-top: 30px;
	border: 1px solid silver;
	margin-bottom: 15px;
}

.section_skills-subtitle {
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	color: #242427;
	font-weight: 900;
	font-family: $primary-font;
	margin-bottom: 45px;
}

.section_skills-subtitle--after:after {
	content: "";
	display: block;
	width: 290px;
	border-bottom: 2px solid #242427;
	margin: 15px auto 0px;
}

.section_skills-submenu {
	margin-bottom: 50px;
}

.section_skills-submenu-item {
	background-color: #eeeeee;
	list-style: none;
	padding-top: 30px;
	border: 1px solid silver;
	margin-bottom: 15px;
}

.submenu-item_ol {
	width: 210px;
	margin: 0 auto;
	padding-bottom: 30px;
	list-style-type: decimal-leading-zero;
}

.block-html-title {
	width: 170px;
	margin: 0 auto 15px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #242427;
}

.block-javascript-title {
	width: 230px;
	margin: 0 auto 15px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #242427;
}
.block-react-title, .block-back-end-title, .block-soft-title{
	width: 160px;
	margin: 0 auto 15px;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #242427;
}


.section_skills-submenu-item-h3--after:after {
	content: "";
	display: block;
	width: 70px;
	border-bottom: 2px solid #00bcd4;
	margin: 15px auto 25px;
}

.submenu-item-text {
	font-size: 14px;
	line-height: 24px;
	color: #242427;
	font-family: $secondary-font;
	font-weight: 400;
	margin-bottom: 25px;
}


.submenu-item-text:last-of-type {
	margin-bottom: 0px;
}

.program-titles_title-phone {
	font-size: 16px;
	line-height: 24px;
	font-family: $secondary-font;
	font-weight: 600;
}

.text-h3-extra {
	font-weight: 800;
}


.block-html-title-tablet {
	display: none;
}

.skills {
	display: none;
}


@media screen and (min-width: 768px) {
	.wrapper_white {
		width: 690px;
		padding-bottom: 15px;
	}
	
	.wrapper_white-section_skills-title {
		width: 530px;
		font-size: 30px;
		line-height: 40px;
		color: #242427;
		font-family: $primary-font;
		font-weight: 700;
	}

	.wrapper_white-section_skills-title:before {
		content: "";
		display: block;
		width: 20px;
		border-bottom: 4px solid #00bcd4;
		position: absolute;
		top: 29px;
		left: -10px;
	}

	.wrapper_white-section_skills-title:after {
		content: "";
		display: block;
		width: 420px;
		border-bottom: 2px solid #242427;
		margin: 10px auto 60px;
	}

	.wrapper_white-section_skills-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.block-time {
		width: 220px;
	}

	.block-time_item-text_span {
		display: inline-block;
		width: 170px;
		margin-left: 25px;
		font-size: 16px;
		line-height: 20px;
	}

	.block-time_item--before:before {
		content: "Часа";
		position: absolute;
		top: 0;
		right: 0;
		transform: rotate(90deg);
		font-size: 24px;
		line-height: 24px;
		color: #242427;
	}

	.block-time_item--befores:before {
		content: "Часов";
		position: absolute;
		top: 0;
		right: 0;
		transform: rotate(90deg);
		font-size: 24px;
		line-height: 24px;
		color: #242427;
	}

	.blcok-time_item-text {
		padding: 0px 20px;
	}

	.program-study {
		padding-top: 50px;
		padding-bottom: 20px;
		background-image: url(../img/light-bg.png);
		margin-bottom: 30px;
		box-shadow: 0px 18px 0px 0px rgba(229,229,229,0.16);
		position: relative;
	}

	.section_skills-subtitle {
		width: 300px;
		margin-left: 80px;
		font-size: 24px;
		line-height: 30px;
		color: #242427;
		margin-bottom: 45px;
	}

	.section_skills-subtitle--after:after {
		content: "";
		display: block;
		width: 550px;
		border-bottom: 2px solid #242427;
		margin: 15px 0px 0px 25px;
	}

	.block-html-title-tablet {
		display: block;
		font-size: 16px;
		line-height: 30px;
		font-weight: 600;
		font-family: $secondary-font; 
	}

	.text-h3-extra {
		
		font-weight: 800;
	}

	.program-titles-tablet {
		width: 500px;
		margin: 0px 0px 20px 200px;
		position: relative;
	}

	.program-titles_title-phone {
		display: none;
	}

	.skills {
		display: block;
		position: relative;
	}

	.block-bg-blue {
		position: absolute;
		top: 30px;
		left: 50px;
		width: 668px;
		height: 429px;
		background-image: url(../img/blue-bg.png);
		background-repeat: repeat;
		z-index: 1;
	}

	.skills_title {
		display: block;
		text-align: center;
		text-transform: uppercase;
		padding-top: 30px;
		padding-bottom: 35px;
		background-color: #fbfbfb;
		color: #474748;
		font-size: 18px;
		line-height: 26px;
		font-family: $secondary-font;
		font-weight: 800;
		position: relative;
		border-bottom: 2px solid #e5e5e5;
		z-index: 2;
	}
	
	.skills-submenu {
		width: 100%;
		height: 345px;
		background-color: #fff;
		position: relative;
		z-index: 2;
	}

	.program-titles_title {
		background-color: transparent;
		list-style: none;
		padding-top: 0px;
		border: none;
		margin-bottom: 15px;
	}

	.block-html-title-tablet:after {
		content: "";
		display: block;
		width: 80px;
		border-bottom: 1px solid black;
		position: absolute;
		top: 15px;
		left: -105px;
	}

	.block-html-title-tablet:before {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		border: 2px solid #242427;
		border-radius: 20px;
		position: absolute;
		top: 3px;
		left: -127px;
	}

	.submenu-item-text {
		width: 400px;
	}

	.section_skills-submenu-item {
		position: absolute;
		z-index: 2;
	}

	.program-titles_title-none {
		display: none;
	}
	
	.program-titles_title {
		position: absolute;
		top: 570px;
		left: 100px;
		z-index: 3;
	
	}

}

@media screen and (min-width: 1151px) {
	.wrapper_white {
		width: 1150px;
		padding-bottom: 0px;
	}

	.wrapper_white-section_skills-title {
		width: 800px;
		font-size: 42px;
		line-height: 50px;
	}
	
	.wrapper_white-section_skills-title:before {
		content: "";
		display: block;
		width: 25px;
		border-bottom: 6px solid #00bcd4;
		position: absolute;
		top: 37px;
		left: 18px;
	}
	
	.wrapper_white-section_skills-title:after {
		content: "";
		display: block;
		width: 600px;
		border-bottom: 2px solid #242427;
		margin: 0px auto 80px;
	}

	.wrapper_white-section_skills-list {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.block-time {
		width: 300px;
	}

	.block-time .block-time_item:first-of-type {
		text-align: center;
		font-size: 165px;
		font-weight: 900;
		color: #00bcd4;
		position: relative;
	}

	.block-time_item-text_span {
		display: inline-block;
		width: 250px;
		margin-left: 25px;
		font-size: 24px;
		line-height: 26px;
	}

	.block-time_item--before:before {
		content: "Часа";
		position: absolute;
		top: 0;
		right: 0;
		transform: rotate(90deg);
		font-size: 24px;
		line-height: 24px;
		color: #242427;
		font-weight: 900;
	}

	.block-time_item--befores:before {
		content: "Часов";
		position: absolute;
		top: 0;
		right: 0;
		transform: rotate(90deg);
		font-size: 24px;
		line-height: 24px;
		color: #242427;
		font-weight: 900;
	}

	.block-time_item--after:after {
		content: "";
		display: block;
		width: 250px;
		border-bottom: 2px solid #242427;
		margin: 0px auto 20px;
	}

	.wrapper_white-section_skills-list {
		margin-bottom: 100px;
	}

	.section_skills-subtitle {
		text-align: center;
		width: 500px;
		font-size: 30px;
		line-height: 30px;
		position: absolute;
		top: -60px;
		left: 5px;
		margin-bottom: 0px;
	}

	.section_skills-subtitle--after:after {
		content: "";
		display: block;
		width: 590px;
		border-bottom: 2px solid #242427;
		margin: 15px 0px 0px 65px;
	}


	.program-study {
		width: 1300px;
		height: 510px;
		margin-left: -150px;
		padding-top: 70px;
		margin-bottom: 0px;
		box-shadow: 0px 12px 34px -1px rgba(229,229,229,0.16);
		position: relative;
	}

	.program-titles-tablet {
		width: 330px;
		margin: 0px 0px 50px 150px;
	}

	.program-study-desctop {
		position: relative;
	}

	.skills {
		position: absolute;
		top: -110px;
		right: 90px;
		width: 470px;
		z-index: 4;
	}

	.skills_title {
		display: block;
		height: 110px;
		text-align: center;
		text-transform: uppercase;
		padding-top: 30px;
		padding-bottom: 35px;
		background-color: #fbfbfb;
		color: #474748;
		font-size: 18px;
		line-height: 26px;
		position: relative;
		border-bottom: 2px solid #e5e5e5;
		z-index: 2;
	}

	.skills-submenu {
		width: 100%;
		height: 580px;
		background-color: #fff;
		position: relative;
		z-index: 2;
	}

	.block-html-title-tablet {
		width: 370px;
		font-size: 20px;
		line-height: 30px;
	}

	.program-titles_title {
		width: 600px;
		padding-top: 65px;
		position: absolute;
		top: 0;
		left: 50%;
		z-index: 5;
	/*	outline: 1px solid red;*/
	}

	.submenu-item-text {
		font-size: 18px;
		line-height: 24px;
		width: 275px;
		margin-bottom: 30px;
		padding-left: 10px;
	/*	outline: 1px solid red;*/
	}

	/*.submenu-item-ol {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;

	}*/


	.block-bg-blue {
		position: absolute;
		top: 95px;
		left: 30px;
		width: 465px;
		height: 610px;
		background-image: url(../img/blue-bg.png);
		background-repeat: repeat;
		z-index: 1;
	}

	.block-html-title-tablet:after {
		content: "";
		display: block;
		width: 90px;
		border-bottom: 1px solid black;
		position: absolute;
		top: 15px;
		left: -115px;
	}

	.program-titles-tablet:nth-of-type(2) .block-html-title-tablet::after {
		content: "";
		display: block;
		width: 90px;
		border-bottom: 1px solid black;
		position: absolute;
		top: 30px;
		left: -115px;
	}

	.block-html-title-tablet:before {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		border: 3px solid #242427;
		border-radius: 20px;
		position: absolute;
		top: 2px;
		left: -138px;
	}

	.program-titles-tablet:nth-of-type(2) .block-html-title-tablet:before {
		content: "";
		display: block;
		width: 20px;
		height: 20px;
		border: 3px solid #242427;
		border-radius: 20px;
		position: absolute;
		top: 17px;
		left: -138px;
	}
}
