/* vacansies section */
.section_second {
    min-width: 320px;  /*заменить на min-width */
    margin: 0 auto;
    padding: 60px 0 30px 0;
    text-align: center;
    background-image: url(../img/light-bg.png);
} 

.section_second-title {
    font-family: $primary-font;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}
.section_second-title::after {
    content: "";
    display: table;
    width: 45%;
    margin: 0 auto;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}
.section_second-text_primary {
    color: #242427;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.section_second-text_secondary {
    color: #242427;
    font-family: $primary-font;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.section_second-text_secondary::after {
    content: "2 000USD";
    color: #00bcd4;
    width: 100px;
    margin-left: 10px;
}
.section_second-menu {
    margin: 0 auto;
    padding: 0;
}
.section_second-menu-item {
    list-style: none;
}
.wrap-section_second-menu {
    width: 270px;
    margin: 25px auto;
    height: 280px;
    background-color: #fff;
    box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.75);
}
.wrap-section_second-menu-top {
    display: flex;
    padding: 15px 0 15px 10px;
    border-bottom: 1px solid #e9e9e9;
}
.menu-item-title {
    margin: 10px 0 0 25px;
    font-family: $primary-font;
    font-size: 16px;
    color: #242427;
    text-transform: uppercase;
    font-weight: 700;
    text-align: left;
}
.menu-item-title::after {
    content: "";
    display: table;
    width: 40%;
    border-bottom: 3px solid #00bcd4;
    padding-top: 5px;
}
.menu-item-text {
    text-align: left;
    font-family: $extra-font;
    color: #000;
    font-size: 16px;
    padding-left: 15px;
    margin-top: 15px;
}
.menu-item-text_wage {
    text-align: left;
    font-family: $extra-font;
    color: #000;
    font-size: 16px;
    padding-left: 15px;
    font-weight: 700;
    margin: 5px 0;
    padding-top: 10px;
}
.menu-item-text_wage-blue {
    color: #00bcd4;
    border-bottom: 2px solid #000;
}
.menu-item-text_position {
    text-align: left;
    font-family: $extra-font;
    color: #636363;
    font-size: 16px;
    padding-left: 15px;
    margin: 5px 0;
}
.menu-item-text_position::after {
    content: "2";
    display: inline;
    margin-left: 25px;
    font-size: 30px;
    color: #000;
    font-weight: 700;
}
.section_second-article {
    margin: 25px auto;
    width: 270px;
    height: 280px;
    background-color: #fff;
    box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.75);
}
.section_second-article-title {
    padding: 20px 10px 0 10px;
    width: 233px;
    text-align: left;
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    font-family: $primary-font;
}
.link_begin {
    margin: 0 auto;
    display: block;
    text-align: center;
    font-family: $primary-font;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    width: 250px;
    height: 55px;
    background-image: linear-gradient(to right, #ffb41b, #fb193c);
    text-decoration: none;
    line-height: 55px;
    border-radius: 5px;
    box-shadow: 0px 8px 19px 0px rgba(0,0,0,0.29);
}
    .link_begin:hover {
    box-shadow: 0px 8px 19px 0px rgba(0,0,0,0.60);
    transition-duration: 0.2s
}
    .section_second-article-text {
    padding: 45px 0 15px 15px;
    font-family: $extra-font;
    text-align: left;
    font-size: 12px;
    color: #242427;
}
.section_second-article > .link_begin {
    width: 240px;
    margin: 30px auto 0 auto;
}
.light-bg-768 {
    display: none;
}
/* vacansies section end*/
@media (min-width:768px){
    /* vacancy part 768px start*/
    .wrap-wraper {
        background-image: url(../img/light-bg.png);
    }
    .wraper_light {
        position: relative;
        width: 768px;
        height: 1080px;
        margin: 0 auto;
    }
    .wrap-section_second-menu {
        margin-right: 48px;
    }
    .section_second {
        width: 692px;
        background-image: url(../img/light-bg.png);
        box-shadow: 0px 10px 21px -6px rgba(0,0,0,0.75);
        position: relative;
        top: -40px;
    }
    .light-bg {
        position: relative;
    }
    .light-bg-768 {
        display: block;
        position: absolute;
        background: url(../img/blue-bg.png);
        width: 630px;
        height: 430px;
        z-index: 0;
        bottom: -55px;
        right: 10px;
    }

    .wrap_header-section_start-desktop {
        display: none;
    }
    .section_second-menu {
        display: flex;
        flex-flow: row wrap;
    }
    .menu-item-text {
        margin-right: 20px;
    }
    .section_second-article > .link_begin {
        width: 240px;
    }
    .section_second-article {
        position: absolute;
        top: 795px;
        left: 30px;
    }
    .section_second-article > .link_begin:hover {
        box-shadow: 0px 8px 19px 0px rgba(0,0,0,0.60);
        transition-duration: 0.2s;
    }
   /* vacancy part 768px end*/
   @media (min-width:1151px){
       /* vacancies section 1151px start*/
    .light-bg-768 {
        display: none;
    }
    .wrap-wraper {
        background: none;
    }
    .wraper_light {
        position: relative;
        width: 1151px;
        margin-top: 100px;
        background: none;
    }
    .section_second {
        width: 1151px;
        height: 734px;
        background: url(../img/bg-vacansies-dt.png) no-repeat,
                    url(../img/light-bg.png);
        background-position: -147px 88px;
    }
    .header-section_start {
        display: none;
    }
    .wrap_header-section_start-desktop {
        display: block;
    }
    /* vacancies section */
        .section_second-title {
        width: 580px;
        margin-left: 250px;
        text-align: left;
        font-size: 42px;
        padding-bottom: 40px;
    }
    .section_second-title::after {
        display: none;
    }
    .section_second-text_primary,
    .section_second-text_secondary {
        font-size: 18px;
        font-weight: 900;
    }
    .section_second-text_primary {
        margin-bottom: 10px;
    }
    .section_second-text_secondary::after {
        content: "2 000USD";
        color: #00bcd4;
        width: 100px;
        padding: 5px;
        margin-left: 10px;
        background-color: #242427;
    }
    .section_second-text_secondary {
        position: relative;
        margin-top: 10px;
    }
    .section_second-text_secondary::before {
        content: "";
        display: table;
        width: 276px;
        border-top: 3px solid #242427;
        position: absolute;
        top: -6px;
        left: 340px;
    }
    .section_second-menu {
        display: block;
        position: absolute;
        top: 74px;
        right: 23px;
    }
    .position1 {
        position: absolute;
        top: 305px;
        left: -585px;
    }
    .position2 {
        position: absolute;
        top: 305px;
        left: -290px;
    }
    .section_second-article {
        position: absolute;
        top: 683px;
        left: 245px;
        width: 545px;   
    }
    .section_second-article-title {
        width: 423px;
        padding-left: 80px;
        font-weight: 700;
        margin-top: 20px;
    }
    .section_second-article > .link_begin {
        position: absolute;
        top: 120px;
        width: 315px;
        left: 80px;
        z-index: 1;
    }
    .section_second-article-text {
        transform: rotate(90deg);
        position: absolute;
        right: -90px;
        top: 88px;
        font-size: 13px;
    }
    .section_second-article-text-red {
        color: red;
    }
    .section_second-article-text-bold {
        font-weight: 900;
    }
    .wrapper_prof {
        position: relative;
        min-width: 1151px;
        height: 1200px;
        margin-top: 240px;
        background: url(../img/bg-texture.png);
        background-repeat: no-repeat;
        background-position: 0px 150px;
        background-size: 10%;
    }
    .light-bg {
        width: 822px;
        height: 784px;
        position: absolute;
        background-image: url(../img/light-bg.png);
        bottom: 100px;
        right: -40px;
    }
    .bg-blue {
        display: block;
        position: absolute;
        background: url(../img/blue-bg.png);
    }
    .bg-top {
        width: 400px;
        height: 400px;
        z-index: 0;
        top: -70px;
        right: -14px;
    }
    .bg-bottom {
        width: 501px;
        height: 400px;
        bottom: 75px;
        left: 107px;
        z-index: -1;
    }
    /* teachers block 1151px end*/
   }
}
