* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrap-darken {
	background-color: #28282d;
}

.wrapper-darken_section {
	width: 290px;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 60px;
}

.wrapper-darken_section-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 80px;
	color: #fff;
	text-transform: uppercase;
}

.wrapper-darken_section-title_h2 {
	text-align: center;
	width: 90%;
	padding-left: 10px;
	position: relative;
	margin-bottom: 10px;
	font-size: 25px;
	line-height: 30px;
	color: #fff;
	font-family: $primary-font;
	text-transform: uppercase;
	font-weight: 700;
}

.wrapper-darken_section-title_h2-span-none {
	display: none;
}

.wrapper-darken_section-title_h2-before:before {
	content: "";
	display: block;
	width: 15px;
	border-bottom: 4px solid #00bcd4;
	position: absolute;
	top: 26px;
	left: -1px;
}

.wrapper-darken_section-title_p {
	display: inline-block;
	text-align: center;
	width: 100%;
	font-size: 14px;
	line-height: 20px;
	font-weight: 900;
	font-family: $primary-font;
}

.wrapper-darken_section-title_p-before:before {
	content: " ";
	display: block;
	margin: 0 auto;	
	width: 150px;
	border-bottom: 2px solid #00bcd4;
	margin-bottom: 30px;
}

.text-color-blue {
	color: #00bcd4;
}

.wrapper-darken-career {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	list-style: none;
}

.wrapper-darken-career_item:first-of-type{
	display: inline-block;
	width: 90%;
	font-size: 20px;
	line-height: 24px;
	color: #fff;
	font-family: $extra-font;
	font-weight: 700;
}

.wrapper-darken-career_item {
	margin-bottom: 40px;
	position: relative;
	font-size: 14px;
	line-height: 24px;
	color: #d6d5d5;
	font-weight: 600;
	font-family: $secondary-font;
}

.text-color-white {
	color: #fff;
	font-weight: 900;
}

.wrapper-darken-career_item:nth-of-type(n + 2){
	padding-left: 40px;
}

.wrapper-darken-career_item:nth-of-type(2){
	width: 210px;
}

.wrapper-darken-career_item:nth-of-type(3){
	width: 280px;
}

.wrapper-darken-career_item-before:before {
	content: "";
	display: block;
	width: 21px;
	height: 21px;
	background-color: #00bcd4;
	border: 3px solid #fff;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
}

.wrapper-darken-skills {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px 0px 0px 0px;
	background-color: #313133;
	counter-reset: list 0;
}

.wrapper-darken-skills-description {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 16px;
}

.wrapper-darken-skills__p {
	color: #fff;
	width: 265px;
	padding-left: 15px;
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 24px;
	color: #d6d5d5;
	font-family: $secondary-font;
	font-weight: 400;
}

.wrapper-darken-skills-description__item {
	margin-bottom: 30px;
	padding-left: 30px;
	position: relative;
	list-style: none;
	z-index: 1;
}

.wrapper-darken-skills-description__h3 {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	padding-top: 5px;
	font-family: $extra-font;
	font-weight: 700;
}

.wrapper-darken-skills-description__item:nth-of-type(3) .wrapper-darken-skills-description__h3{
	width: 160px;
}

.wrapper-darken-skills-description__item-before:before{
	counter-increment: list; 
	content: "." counter(list);
	display: block;
	font-size: 24px;
	line-height: 26px;
	font-weight: bold;
	color: #00bcd4;
	padding-left: 5px;
	position: absolute;
	top: 0;
	left: 0;
	font-family: $extra-font;
}



.wrapper-darken-skills-description__item-after:after{
	content: "";
	display: block;
	width: 100px;
	border-bottom: 1px solid #00bcd4;
	position: relative;
	z-index: 2;
	bottom: 80px;
	right: 15px;
}

.wrapper-darken-skills-description__item-after:nth-of-type(3) :after {
	content: "";
	display: block;
	width: 100px;
	border-bottom: 1px solid #00bcd4;
	position: relative;
	z-index: 2;
	bottom: 100px;
	right: 15px;
}


.wrapper-darken-skills-description__span {
	display: inline-block;
	width: 205px;
	font-size: 14px;
	line-height: 20px;
	font-family: $secondary-font;
	color: #d6d5d5;
	font-weight: 400;
}


@media screen and (min-width: 768px) {
	.wrap-darken {
		background-color: #28282d;
		background-image: url(../img/wrapper-darken-bg.png);
		background-repeat: repeat;
		position: relative;
        z-index: 2;
	}

	.wrapper-darken_section {
		width: 690px;
		margin: 0 auto;
		padding-top: 80px;
		padding-bottom: 60px;
	}

	.wrapper-darken_section-title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 600px;
		margin-left: 55px;
		margin-bottom: 80px;
		color: #fff;
		text-transform: uppercase;
	}

	.wrapper-darken_section-title_h2 {
		text-align: left;
		width: 100%;
		padding-left: 10px;;
		margin-bottom: 20px;
		font-size: 30px;
		line-height: 40px;
		font-weight: 700;
		font-family: $primary-font;
	}

	.wrapper-darken_section-title_h2-span-none {
		display: inline-block;
		margin-left: 5px;
	}

	.wrapper-darken_section-title_h2:first-letter {
		padding-left: 15px;
	}

	.wrapper-darken_section-title_h2-before:before {
		content: "";
		display: block;
		width: 15px;
		border-bottom: 5px solid #00bcd4;
		position: absolute;
		top: 30px;
		left: 7px;
	}

	.wrapper-darken_section-title_p {
		text-align: left;
		width: 430px;
		font-weight: 900;
		font-size: 14px;
		line-height: 24px;
		font-family: $primary-font;
		font-weight: 700;
	}

	.wrapper-darken_section-title_p-before:before {
		content: " ";
		display: block;
		margin-left: 10px;
		width: 530px;
		border-bottom: 2px solid #00bcd4;
		margin-bottom: 45px;
	}

	.wrapper-darken-career {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex-wrap: wrap;
		list-style: none;
		position: relative;
	}

	.wrapper-darken-career-after:after {
		content: url(../img/wrapper-darken-career-after.png);
		position: absolute;
		top: 35px;
		left: -26px;
	}

	.wrapper-darken-career-before:before {
		content: "";
		display: block;
		width: 600px;
		border-bottom: 1px solid #fff;
		position: absolute;
		top: 68px;
		left: 0;
	}

	.wrapper-darken-career_item:first-of-type {
		display: inline-block;
		width: 585px;
		margin: 0px auto 25px;
		font-size: 24px;
		line-height: 30px;
		color: #2c2c31;
		font-weight: bold;
		background-color: #fff;
	}

	.wrapper-darken-career_item:nth-of-type(2) {
		width: 210px;
		margin-left: 25px;
		margin-right: 20px;
	}

	.wrapper-darken-career_item:last-of-type {
		width: 380px;
	}

	.wrapper-darken-career_item {
		margin-bottom: 40px;
		position: static;
		font-size: 14px;
		line-height: 24px;
		color: #d6d5d5;
	}

	.wrapper-darken-career_item-before:before {
		content: "";
		display: block;
		width: 21px;
		height: 21px;
		background-color: #00bcd4;
		border: 3px solid #fff;
		border-radius: 20px;
		position: relative;
		z-index: 2;
		top: 0;
		left: 0;
	}

	.wrapper-darken-skills {
		width: 575px;
		margin: 0 auto;
		padding: 150px 0px 30px 0px;
		background-image: url(../img/goit.png);
		background-position: right 15px;
		background-color: #313133;
		background-repeat: no-repeat;
		position: relative;
	}

	.wrapper-darken-skills:before {
		content: "dream";
		display: inline-block;
		font-size: 30px;
		line-height: 36px;
		color: #fff;
		position: absolute;
		top: 40px;
		left: -80px;
		transform: rotate(90deg);
		letter-spacing: 6px;
		font-weight: 400;
		font-family: $extra-font;
	}

	.wrapper-darken-skills:after {
		content: "guarantee";
		display: inline-block;
		font-size: 20px;
		line-height: 24px;
		color: #fff;
		position: absolute;
		top: 170px;
		right: -95px;
		transform: rotate(90deg);
		letter-spacing: 6px;
		font-weight: 400;
		font-family: $extra-font;
	}

	.wrapper-darken-skills__p {
		width: 450px;
		padding-left: 0px;
		margin: 0 auto;
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 20px;
		color: #d6d5d5;
	}

	.wrapper-darken-skills-description__item {
		margin-bottom: 10px;
		margin-left: 90px;
		padding-top: 15px;
		padding-left: 30px;
		height: 92px;
		width: 500px;
		position: relative;
		background-color: #2f2f31;
		list-style: none;
		z-index: 1;
	}

	.wrapper-darken-skills-description__h3 {
		text-transform: uppercase;
		font-size: 18px;
		line-height: 22px;
		padding-top: 5px;
	}


	.wrapper-darken-skills-description__span {
		width: 100%;
	}

	.wrapper-darken-skills-description__item-before:before{
		counter-increment: list; 
		content: "." counter(list);
		display: block;
		font-size: 24px;
		line-height: 26px;
		font-family: $extra-font;
		font-weight: bold;
		color: #00bcd4;
		padding-left: 5px;
		position: absolute;
		top: 20px;
		left: -45px;
	}

	.wrapper-darken-skills-description__item-after:after {
		content: "";
		display: block;
		width: 100px;
		border-bottom: 1px solid #00bcd4;
		position: relative;
		z-index: 2;
		bottom: 65px;
		right: 70px;
	}
}

@media screen and (min-width: 1151px) {

	.wrap-darken {
		margin-top: 350px;
	}

	.wrapper-darken_section {
		width: 1151px;
		padding-top: 0px;
		padding-bottom: 0px;
		position: relative;
		z-index: 1;
	}

	

	
	.wrapper-darken_section:after {
		content: url(../img/wrapper-darken-desctop.png);
		display: inline-block;
		position: absolute;
		bottom: 80px;
		right: -370px;
	}



	.wrapper-darken_section-title {
		width: 573px;
		margin-left: 0px;
		margin-bottom: 0px;
		padding-top: 160px;
	}

	.wrapper-darken_section-title_h2 {
		width: 365px;
		padding-left: 0px;
		margin-bottom: 20px;
		font-size: 42px;
		line-height: 50px;
		font-weight: 700;
	}

	.wrapper-darken_section-title_h2:first-letter {
		padding-left: 32px;
	}

	.wrapper-darken_section-title_h2-before:before {
		content: "";
		display: block;
		width: 30px;
		border-bottom: 5px solid #00bcd4;
		position: absolute;
		top: 40px;
		left: 0px;
	}

	.wrapper-darken_section-title_h2-span-none {
		margin-left: 0px;
	}

	.wrapper-darken_section-title_p {
		width: 600px;
		font-weight: 900;
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 60px;
	}

	.wrapper-darken_section-title_p-before:before {
		content: " ";
		display: block;
		margin-right: 100%;	
		width: 574px;
		border-bottom: 2px solid #00bcd4;
		margin-bottom: 30px;
	}

	.wrapper-darken-career {
		width: 574px;
	}

	.wrapper-darken-career_item:first-of-type{
		width: 570px;
	}

	.wrapper-darken-career-after:after {
		content: url(../img/wrapper-darken-career-after.png);
		position: absolute;
		top: 35px;
		left: -251px;
	}
	
	.wrapper-darken-career-before:before {
		content: "";
		display: block;
		width: 800px;
		border-bottom: 1px solid #fff;
		position: absolute;
		top: 69px;
		left: -225px;
	}

	.wrapper-darken-career_item:nth-of-type(2) {
		width: 150px;
		margin-left: 0px;
		margin-right: 40px;
	}

	.wrapper-darken-career_item:last-of-type {
		width: 280px;
	}

	.wrapper-darken-career_item {
		font-size: 16px;
		line-height: 26px;
	}

	.wrapper-darken-career_item-before:before {
		content: "";
		display: block;
		width: 21px;
		height: 21px;
		background-color: #00bcd4;
		border: 3px solid #fff;
		border-radius: 20px;
		position: relative;
		z-index: 2;
		top: 0;
		left: 0;
		margin-bottom: 20px;
	}

	.wrapper-darken-career_item:nth-of-type(n + 2){
		padding-left: 0px;
	}

	.wrapper-darken-skills {
		width: 575px;
		padding: 190px 0px 50px 0px;
		position: absolute;
		top: -50px;
		right: 0;
	}

	.wrapper-darken-skills:before {
		content: "dream";
		display: inline-block;
		font-size: 40px;
		line-height: 50px;
		color: #fff;
		position: absolute;
		top: 115px;
		left: -90px;
		transform: rotate(90deg);
		letter-spacing: 6px;
		font-family: $extra-font;
	}

	.wrapper-darken-skills:after {
		content: "guarantee";
		display: inline-block;
		font-size: 26px;
		line-height: 31px;
		color: #fff;
		position: absolute;
		top: 250px;
		right: -105px;
		transform: rotate(90deg);
		letter-spacing: 6px;
	}

	.wrapper-darken-skills__p {
		width: 400px;
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 26px;
	}

	.wrapper-darken-skills-description__h3 {
		font-size: 22px;
		line-height: 26px;
		padding-top: 5px;
	}

	.wrapper-darken-skills-description__span {
		font-size: 16px;
		line-height: 19px;
	}
}
