.wrapper-lighten {
	position: relative;
	background: url(../img/light-bg.png)
}
.wrapper-lighten__blue-box-l {
	display: none;
	position: absolute;
	z-index: 2;
}
.wrapper-lighten__blue-box-r {
	display: none;
	position: absolute;
	z-index: 2;
}
.wrapper-lighten {
	padding: 30px 0;
}
.wrapper-lighten__clip-path {
	display: none;
}
.wrapper-lighten-section__title {
    font-size: 23px;
    font-weight: 700;
    font-family: $primary-font;
	text-align: center;
}
.wrapper-lighten-section__title--after:after {
	content: '';
	display: block;
	margin: auto;
	border-bottom: 2px solid #000;
	width: 45%;
	margin-bottom: 20px;
	margin-top: 10px;
}
.section-list__company--before:before {
	content: '';
	display: block;
	margin: auto;
	border-bottom: 2px solid #000;
	width: 100%;
	margin-bottom: 15px;
}
.article__title {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.6;
    font-family: $primary-font;
    margin-bottom: 15px;
}

.wrapper-lighten-section__subtitle {
    font-size: 14px;
    font-weight: 700;
    font-family: $primary-font;
    text-align: center;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.article-menu__text {
    font-size: 14px;
    font-family: $secondary-font;	
    line-height: 1.5;
    position: relative;
    padding-left: 40px;

}
.article__text {
    font-size: 16px;
    line-height: 1.4;
    font-family: $secondary-font;
    font-weight: 600;	
    margin-bottom: 30px;
}
.article-menu {
	height: 370px;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	margin-bottom: 40px;
}
.article-menu--after:after {
	content: '';
	display: block;
	margin: auto;
	border-bottom: 2px solid #000;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

.font-weight-bold {
	font-weight: 800;
}
.article-menu__item {
	position: relative;
}
.section-list__item-transparent {
	height: 185px;
	width: 185px;
	display: none;
}
.article-menu__text--before:before {
	content: '';
	display: block;
	position: absolute;
	top: 5px;	
	left: 0;	
	width: 20px;	
	height: 20px;	
	background-color: #00bcd4;
	border-radius: 50%
}
.section-list__company {
	font-size: 18px;
	font-weight: 500;
    font-family: $extra-font;
    line-height: 1.3;
    margin-bottom: 50px;
}
.section-list {
	height: 450px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 15px;
}
.section-list__item {
	height: 140px;
	width: 140px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 3px 8px 1px rgba(0,0,0,.12)
}
.section-list__it-company {
    font-size: 16px;
    font-weight: 500;
    font-family: $extra-font;
    line-height: 1.5;
	margin: auto;
	width: 268px;
}
.lighten-section-subtitle_achievements-block {
	margin-top: 50px;
	height: 140px;
	background-color: #fff;
	padding-top: 1px
}
.lighten-section-subtitle_achievements {
    font-size: 16px;
    font-family: $primary-font;	
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
	width: 70%;

}
.lighten-section-subtitle_achievements--before:before {
    margin: auto;
	content: '';
	display: block;
	border-top: 2px solid #000;
	width: 150px;
	margin-top: 50px;
	margin-bottom: 20px;
}	
.section-menu {
	height: 1150px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.section-menu__item {
	height: 370px;
	padding-left: 20px;
	padding-right: 10px;
	box-shadow: 1px 9px 11px 2px rgba(0,0,0,0.1);
}
.section-menu__item-3 {
	position: relative;
}
.section-menu__item-1 {
	background-image: url('../img/nah1-min.png');
	background-repeat: no-repeat;
	width: 570px;
}
.section-menu__item-2 {
	background-image: url('../img/nag2-min.png');
	background-repeat: no-repeat;
}
.section-menu__item-3 {
    background-color: #fbfbfb;
	background-image: url('../img/nag3-2-min.png');
	background-repeat: no-repeat;
}
.section-menu__item-cup {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.ittem__contrast-text {
	font-family: $extra-font;
	font-size: 18px;
	background-color: #242427;
	display: inline-block;
	line-height: 1.4;
	padding: 0px 8px;
	margin: 20px 0;
}
.ittem__title {
	line-height: 1.4;
    font-size: 14px;
    font-family: $secondary-font;
    font-weight: 800;
    text-transform: uppercase;	
}
.ittem__text {
	font-size: 14px;
    font-family: $extra-font-second;
    line-height: 1.7;	
}
.ittem__text-2 {
	width: 70%;
}
.ittem__text-3 {
	width: 47%;
}

.ittem__title-1 {
	margin-bottom: 20px;
}
.ittem__title-2 {
	margin-bottom: 115px;
}
.ittem__title-3 {
	margin-bottom: 115px;
}

@media(min-width: 768px) {
	.wrapper-lighten {
		padding: 0;
		margin-top: -100px;
		z-index: 1;
		background: transparent;
	}
	.wrapper-lighten-section__article {
		position: relative;
	}
	.wrapper-lighten__clip-path {
		margin-top: -40px;
		display: block;
		background: url(../img/light-bg.png);
		width: 100%;
		height: 3700px;
		clip-path: polygon(0 0, 100% 0, 100% 33%,0 25%);
		position: absolute;
	}
	.wrapper-lighten-section__title {
		padding-top: 120px;
		font-size: 29px;
		margin-bottom: 25px;
	}
	.wrapper-lighten-section__subtitle-block {
		text-align: center;	
	}
	.wrapper-lighten-section__subtitle {
		margin-left: auto;
		display: inline-block;
		width: 400px;
		text-align: right;
		font-size: 14px;
		line-height: 1.6;
		font-weight: 800;
		position: relative;
		margin-bottom: 40px;
	}
	.wrapper-lighten-section__subtitle--after:after {
		content: '';
		width: 340px;
		right: 0px;
		position: absolute;
		top: 23px;
		border-bottom: 2px solid #000;
	}
	.wrapper-lighten-section__title--after:after {
		display: none;
	}
	.article-menu__text--before:before {
		display: none;
	}
	.wrapper-lighten-section__article {
		position: relative;
		margin-left: 100px;
		width: 400px;
	}
	.article__text {
		margin-bottom: 55px;
	}
	.wrapper-lighten-section__article--before:before {
		position: absolute;
		top: 13px;
		left: -100px;
		content: "";
		display: inline-block;
		height: 415px;
		width: 90px;
		background-image: url('../img/karkas-min.png');
		background-repeat: no-repeat;
	}
	.article__title {
		width: 300px;
	}
	.article-menu__text {
		width: 440px;
		padding-left: 0;
		line-height: 1.8;
	}
	
	.article-menu {
		height: 270px;
		margin-bottom: 30px;	
	}
	.perenos {
		display: block;
	}
	.article-menu__text {
		width: 350px;
		font-size: 14px;
	}
	.article-menu__text--after::after {
		content: " ";
		display: block;
		width: 290px;
		height: 2px;
		background-color: #00bcd4;
		position: relative;
		top: -25px;
		left: 50px;
	}
	.section-list__item {
		height: 185px;
		width: 185px;
	}
	.section-list {
		position: relative;
		height: 580px;
	}
	.container570px {
		position: relative;
	}
	.wrapper-lighten-section__article-companyy {
		height: 620px;
	}
	.section-list__company {
		position: absolute;
		top: 1125px;
		left: 325px;
		display: inline-block;
		transform: rotate(90deg);
		width: 290px;
		word-spacing: normal;
		font-size: 21px;
		font-weight: 600
	}
	.section-list__it-company {
		position: absolute;
		display: inline-block;
		bottom: 160px;
		left: 35px;
		width: 140px;
		position: relative;
	}
	.section-list__company--before:before {
		width: 400px;
		position: absolute;
		top: -10px;
		right: 20px;
		border-bottom: 3px solid #000;
	}
	.section-list__item-transparent {
		display: block;
		background-color: transparent;
	}
	.lighten-section-subtitle_achievements-block {
		margin-top: 0;
	}
	.lighten-section-subtitle_achievements  {
		width: 100%;
		text-align: left;
		font-size: 18px
	}
	.lighten-section-subtitle_achievements--before:before {
		width: 60%;
		margin-left: 0;
		margin-bottom: 10px;
		border-top: 3px solid #000;
	}
	.section-menu {
		height: 785px;	
		display: flex;
		justify-content: space-between;
	}
	.section-menu__item-1 {
		position: relative;
		background-image: url(../img/nag1-min.png);
	}	
	.section-menu__item {
		padding: 30px;
	}
	.section-menu__item-2 {
		position: relative;
		display: inline-block;
		width: 270px;
		height: 370px;
	}
	.section-menu__item-3 {
		position: relative;
		display: inline-block;
		width: 270px;	
		height: 370px;
	}
	.ittem__contrast-text {
		position: absolute;
		transform: rotate(90deg);
	}
	.ittem__contrast-text-3,
	.ittem__contrast-text-2,
	.ittem__contrast-text-1 {
  		font-size: 18px;
		top: 65px;
		left: -10px;
	}
	.ittem__text-1 {
		margin-top: 130px;
	}
	.ittem__title-1 {
		margin-left: 250px;
	}
	.ittem__title {
		font-size: 16px;
	}
	.ittem__title-2,
	.ittem__title-3 {
		width: 120px;
		margin-left: 95px;
		margin-top: 5px;
		margin-bottom: 130px;
	}
	.ittem__title-3 {
		margin-bottom: 104px;
	}
	.ittem__text-1 {
		width: 300px;
	}
	.ittem__text-3 {
		width: 130px;
	}
	.section-list__item-boxshadow {
		box-shadow: 1px 18px 20px 1px rgba(0,0,0,0.08);
	}
	.section-list__item-boxshadow2 {
		box-shadow: 2px 3px 8px 1px rgba(0,0,0,0.12);
	}
	.section-list__item-alphabank,
	.section-list__item-terrasoft {
		z-index: 5;
	}
	.ittem__contrast-text {
		font-size: 20px;
	}
}
@media(min-width: 1151px) {
	.wrapper-lighten {
		margin-top: -50px
	}
	.wrapper-lighten__blue-box-l {
		display: block;
		position: absolute;
		top: 470px;
		left: 0;
		height: 800px;
		width: 25px;
		background-color: #00bcd4;
	}
	.wrapper-lighten__blue-box-r {
		display: block;
		position: absolute;
		top: 80px;
		right: 0;
		height: 800px;
		width: 15px;
		background-color: #00bcd4;
	}

	.wrapper_change {
		position: relative;
	}
	.wrapper-lighten__clip-path {
		height: 1890px;
		clip-path: polygon(0 0, 100% 0, 100% 43%,0 30%);
	}
	.wrapper-lighten-section__title {
		font-size: 42px;
	}
	
	.wrapper-lighten-section__title--after:after {
		border-bottom: 3px solid #000;
	}
	.wrapper-lighten-section__article {
		margin-left: 0;
	}

	.wrapper-lighten-section__article-companyy {
		margin-top: 30px;
		width: 600px;
	}
	.wrapper-lighten-section__articls {
		display: flex;
		justify-content: space-between;
		padding-right: 90px;
		height: 650px;
	}
	.section-list__company {
		top: 720px;
		left: 800px;
		font-weight: 800;
	}
	.article-menu__text {
  		font-size: 18px;
	}
	.article-menu {
		height: 300px;
	}
	.lighten-section-subtitle_achievements {
		position: absolute;
  		font-size: 20px;
		top: 820px;
	}
	.lighten-section-subtitle_achievements--before:before {
		border-top: 3px solid #000;
		width: 380px;
	}
	.lighten-section-subtitle_achievements-block {
		height: 0px;
		margin: 0;
		padding: 0;
	}
	
	.section-menu {
		display: flex;
		height: 370px;
	}
	.ittem__title-2 {
		margin-bottom: 122px;
	}
	.ittem__title-3 {
		margin-bottom: 97px;
	}
}


