* {
    box-sizing: border-box;
    padding: 0;
}

.wrapper-light_section {
    width: 290px;
    margin: 0 auto;
    padding-top: 50px;
}

.wrapper-white_section-title {
    text-align: center;
    width: 290px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 28px;
    color: #242427;
    font-family: $primary-font;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 10px;
}


.wrapper-white_section-title:before {
    content: "";
    display: block;
    width: 15px;
    border-bottom: 4px solid #00bcd4;
    position: absolute;
    top: 23px;
    left: 44px;
}

.wrapper-light_section-block-img {
    width: 100%;
    height: 360px;
    background-image: url(../img/wrapper-light_section-block-img.jpg);
    margin-bottom: 50px;
    box-shadow: 0px 25px 50px 0px rgba(0,0,0,0.21);
}

.wrapper-light_section-menu {
    counter-reset: item;
    list-style-type: none;
    margin-bottom: 60px;
}

.wrapper-light_section-menu_item {
    display: inline-block;
    padding-left: 85px;
    position: relative;
    list-style: none;
    min-height: 80px;
    width: 280px;
    font-size: 14px;
    line-height: 24px;
    font-family: $secondary-font;
    font-weight: 600;
    color: #242427;
}

.wrapper-light_section-menu_item:nth-of-type(5) {
    width: 240px;
}

.wrapper-light_section-menu_item-link {
    text-decoration: none;
    padding: 2px;
    color: #242427;
    font-weight: 800;
}

.wrapper-light_section-menu_item:last-of-type {
    padding-left: 90px;
}

.wrapper-light_section-menu_item:nth-of-type(5) .wrapper-light_section-menu_item-span {
    width: 120px;
}

.wrapper-light_section-menu_item:before {
    content: counter(item, decimal-leading-zero) " "; 
    counter-increment: item;
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 24px;
    line-height: 60px;
    font-weight: bold;
    color: #242427;
    z-index: 2;
    font-family: $extra-font;
 }

.wrapper-light_section-menu_item:first-of-type:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: #fbfbfb;
    z-index: 1;
    box-shadow: -4px 2px 0px 0px #00bcd4;
}

.wrapper-light_section-menu_item:nth-of-type(2):after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: #fbfbfb;
    z-index: 1;
    box-shadow: -4px -2px 0px 0px #00bcd4;
}

.wrapper-light_section-menu_item:nth-of-type(3):after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: #fbfbfb;
    z-index: 1;
    box-shadow: 4px -3px 0px 0px #00bcd4;
}

.wrapper-light_section-menu_item:nth-of-type(4):after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: #fbfbfb;
    z-index: 1;
    box-shadow: 4px 3px 0px 0px #00bcd4;
}

.wrapper-light_section-menu_item:nth-of-type(5):after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    border-radius: 100px;
    background-color: #fbfbfb;
    z-index: 1;
    box-shadow: -2px 4px 0px 0px #00bcd4;
}


.wrapper-light_section-menu_item:last-of-type:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 70px;
    height: 70px;
    border: 1px solid #242427;
    color: #fff;
    border-radius: 100px;
    background-color: #242427;
    z-index: 1;
    box-shadow: -3px -3px 0px 0px #00bcd4;
}

.wrapper-light_section-menu_item:last-of-type:before {
    content: counter(item, decimal-leading-zero) " "; 
    counter-increment: item;
    position: absolute;
    top: 10px;
    left: 30px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.wrapper-light_section-menu_item-span-last-bgc:last-of-type {
    background-color: #00bcd4;
    padding: 3px;
}

.wrapper-light_section-menu_item-span-last {
    width: 200px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 20px;
    font-family: $primary-font;
    color: #242427;
}

@media screen and (min-width: 768px) {
    .wrapper-light_section {
        width: 690px;
        margin: 0 auto;
        padding-top: 50px;
    }

    .wrapper-white_section-title {
        width: 650px;
        text-align: left;
        margin: 0px;
        font-size: 30px;
        line-height: 40px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: $primary-font;
    }

    .wrapper-white_section-title:first-letter{
        margin-left: 14px;
    }

    .wrapper-white_section-title-span {
        display: block;
    }

    .wrapper-white_section-title:before {
        content: "";
        display: block;
        width: 15px;
        border-bottom: 3px solid #00bcd4;
        position: absolute;
        top: 28px;
        left: 0;
    }

    .wrapper-light_namber {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding-top: 125px;
        background-image: url(../img/wrapper-light_namber-bg.png);
        background-repeat: no-repeat;
        position: relative;
    }

    .wrapper-light_section-block-img {
        width: 370px;
        height: 450px;
        background-image: url(../img/wrapper-light_section-block-img-desctop.jpg);
        margin-bottom: 50px;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .wrapper-light_section-menu {
        padding-top: 15px;
    }

    .wrapper-light_namber:before {
        content: "";
        position: absolute;
        top: 160px;
        left: 45px;
        display: block;
        width: 1px;
        height: 500px;
        border-left: 1px solid #e0dfdf;
    }

    .wrapper-light_namber:after {
        content: "";
        position: absolute;
        top: 645px;
        left: 29%;
        display: block;
        width: 50px;
        border-top: 2px solid #231e1f;
    }

    .wrapper-light_section-menu_item {
        display: flex;
        align-items: center;
        padding-left: 105px;
        margin-bottom: 25px;
        height: 90px;
    }

    .wrapper-light_section-menu_item:nth-of-type(2) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 320px;
    }

    .wrapper-light_section-menu_item-link {
        border-bottom: 2px solid #00bcd4;
        padding: 2px;
        color: #242427;
        font-weight: bold;
    }

    .wrapper-light_section-menu_item:last-of-type {
        width: 457px;
        padding-left: 95px;
        position: absolute;
        right: 0;
        bottom: 60px;
    }

    .wrapper-light_section-menu_item:nth-of-type(5) .wrapper-light_section-menu_item-span {
        width: 90px;
    }

    .wrapper-light_section-menu_item:nth-of-type(2) .wrapper-light_section-menu_item-span {
        width: 180px;
    }

    .wrapper-light_section-menu_item:nth-of-type(4) .wrapper-light_section-menu_item-span {
        width: 200px;
    }

    .wrapper-light_section-menu_item-span {
        width: 160px;
    }

    .wrapper-light_section-menu_item-span-last {
        width: 100%;
        font-size: 13px;
        line-height: 24px;
        font-weight: 900;
        text-transform: uppercase;
    }

    .wrapper-light_section-menu_item-span-last-bgc {
        background-color: #00bcd4;
        padding: 3px;
    }

    .wrapper-light_section-menu_item-span-last-bgc:last-of-type {
        margin-left: -4px;
    }

    .wrapper-light_section-menu_item:before {
        content: counter(item, decimal-leading-zero) " "; 
        counter-increment: item;
        position: absolute;
        top: 15px;
        left: 25px;
        font-size: 40px;
        line-height: 60px;
        font-weight: bold;
        color: #242427;
        z-index: 2;
     }

    .wrapper-light_section-menu_item:first-of-type:after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 80px;
        height: 80px;
        border: 1px solid #fff;
        border-radius: 100px;
        background-color: #fbfbfb;
        z-index: 1;
        box-shadow: -4px 2px 0px 0px #00bcd4;
    }

    .wrapper-light_section-menu_item:nth-of-type(2):after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 80px;
        height: 80px;
        border: 1px solid #fff;
        border-radius: 100px;
        background-color: #fbfbfb;
        z-index: 1;
        box-shadow: -4px -2px 0px 0px #00bcd4;
    }

    .wrapper-light_section-menu_item:nth-of-type(3):after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 80px;
        height: 80px;
        border: 1px solid #fff;
        border-radius: 100px;
        background-color: #fbfbfb;
        z-index: 1;
        box-shadow: 4px -3px 0px 0px #00bcd4;
    }

    .wrapper-light_section-menu_item:nth-of-type(4):after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 80px;
        height: 80px;
        border: 1px solid #fff;
        border-radius: 100px;
        background-color: #fbfbfb;
        z-index: 1;
        box-shadow: 4px 3px 0px 0px #00bcd4;
    }

    .wrapper-light_section-menu_item:nth-of-type(5):after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 80px;
        height: 80px;
        border: 1px solid #fff;
        border-radius: 100px;
        background-color: #fbfbfb;
        z-index: 1;
        box-shadow: -2px 4px 0px 0px #00bcd4;
    }


    .wrapper-light_section-menu_item:last-of-type:after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 80px;
        height: 80px;
        border: 1px solid #242427;
        color: #fff;
        border-radius: 100px;
        background-color: #242427;
        z-index: 1;
        box-shadow: -3px -3px 0px 0px #00bcd4;
    }

    .wrapper-light_section-menu_item:last-of-type:before {
        content: counter(item, decimal-leading-zero) " "; 
        counter-increment: item;
        position: absolute;
        top: 15px;
        left: 25px;
        color: #fff;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

}

@media screen and (min-width: 1151px) {
    .wrapper-light_section {
        width: 1151px;
        padding-top: 50px;
        position: relative;
        z-index: 2;
    }

    .wrapper-light_section:after {
        content: url(../img/put-left.png);
        position: absolute;
        top: 500px;
        left: -300px;
    }

    .wrapper-light_section:before {
        content:  url(../img/wrapper-light_namber-bg-desktop.png);
        position: absolute;
        top: -10px;
        left: 300px;
        z-index: 1;

    }

    .wrapper-white_section-title {
        width: 620px;
        text-align: left;
        margin: 0px 0px 70px 500px;
        font-size: 42px;
        line-height: 50px;
        font-weight: 700;
    }

    .wrapper-white_section-title:first-letter{
        margin-left: 30px;
    }

    .wrapper-white_section-title:before {
        content: "";
        display: block;
        width: 25px;
        border-bottom: 4px solid #00bcd4;
        position: absolute;
        top: 36px;
        left: 8px;
    }

    .wrapper-light_namber {
        padding-top: 0px;
        background-image: none;
    }

    .wrapper-light_namber:before {
        content: "";
        position: absolute;
        top: -210px;
        left: 95px;
        display: block;
        width: 1px;
        height: 780px;
        border-left: 1px solid #e0dfdf;
    }

    .wrapper-light_namber:after {
        content: "";
        position: absolute;
        top: 524px;
        left: 28%;
        display: block;
        width: 200px;
        border-top: 2px solid #231e1f;
    }

    .wrapper-light_section-block-img {
        width: 650px;
        height: 455px;
        background-image: url(../img/wrapper-light_section-block-img-desctop.jpg);
        margin-bottom: 0px;
    }

    .wrapper-light_section-menu {
        padding-top: 0px;
    }

     .wrapper-light_section-menu_item:nth-of-type(5) .wrapper-light_section-menu_item-span {
        width: 90px;
    }

    .wrapper-light_section-menu_item:nth-of-type(2) .wrapper-light_section-menu_item-span {
        width: 230px;
    }

    .wrapper-light_section-menu_item:nth-of-type(4) .wrapper-light_section-menu_item-span {
        width: 300px;
    }

    .wrapper-light_section-menu_item-span {
        display: inline-block;
        width: 400px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 600;
    }

    .wrapper-light_section-menu_item-span-last {
        width: 530px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 900;
    }

    .wrapper-light_section-menu_item {
        margin-left: 50px;
        width: 350px;
        margin-bottom: 30px;
    }

    .wrapper-light_section-menu_item:last-of-type {
        width: 650px;
        padding-left: 100px;
        position: absolute;
        right: 0;
        bottom: 60px;
    }

    .wrapper-light_section-menu_item-link {
        width: 250px;
        border-bottom: 2px solid #00bcd4;
        font-size: 18px;
        line-height: 26px;
        padding: 2px;
        color: #242427;
        font-weight: 900;
    }

    .wrapper-light_section-menu_item-span-last-bgc:last-of-type {
        margin-left: -6px;
    }
}
